<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">QUEM SOMOS</h2>
                <hr class="light">
                <p class="text-faded">Credenciada ao Detran-DF desde 1991, a Clínica Aptidão desenvolve com qualidade e eficiência serviços como: obtenção e renovação da Carteira Nacional de Habilitação (CNH) e avaliações psicológicas para Instrutores, Diretores de Auto-Escola e Examinadores de banca.</p>
                <p class="text-faded">Preservamos sempre a segurança do condutor e a do trânsito em geral. </p>
                <p class="text-faded">Possuímos uma equipe de psicólogos e médicos peritos para realizar e orientar candidatos que se submetem aos exames exigidos pelo Código de Trânsito Brasileiro, colaborando assim para o cumprimento da legislação de trânsito e a diminuição do índice de acidentes no Brasil.</p>
            </div>
        </div>

        <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>

        <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
        </div>

        <div class="box-diferencial">

                <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">NOSSO DIFERENCIAL</li>
                        <li class="list-group-item">Seriedade e transparência com os clientes</li>
                        <li class="list-group-item">Excelência no atendimento</li>
                        <li class="list-group-item">Qualificação dos profissionais</li>
                        <li class="list-group-item">Agilidade em todos os serviços prestados</li>
                        <li class="list-group-item">Grande experiência no mercado</li>
                      </ul>
        </div>
        <div class="about-container">
            <div class="about-ideais">
                
            </div>
        </div>
    </div>
</section>