<section class="bg-primary" id="about">
        <div class="container">
            <div class="row first-row">
                <div>
                    <h2 class="section-heading">QUEM SOMOS</h2>
                    <hr class="light">
                    <p class="text-faded">Credenciada ao Detran-DF desde 1991, a Clínica Aptidão desenvolve com qualidade e eficiência serviços como: obtenção e renovação da Carteira Nacional de Habilitação (CNH) e avaliações psicológicas para Instrutores, Diretores de Auto-Escola e Examinadores de banca.</p>
                    <p class="text-faded">Preservamos sempre a segurança do condutor e a do trânsito em geral. </p>
                    <p class="text-faded">Possuímos uma equipe de psicólogos e médicos peritos para realizar e orientar candidatos que se submetem aos exames exigidos pelo Código de Trânsito Brasileiro, colaborando assim para o cumprimento da legislação de trânsito e a diminuição do índice de acidentes no Brasil.</p>
                </div>
            </div>
            <div class="row second-row">
                    <div class="mvv">
                        <h3 class="mvv-title">NOSSOS DIFERENCIAIS</h3>
                        <p><span class="glyphicon glyphicon-chevron-right"></span> Seriedade e transparência com os clientes</p>
                        <p><span class="glyphicon glyphicon-chevron-right"></span>Excelência no atendimento</p>
                        <p><span class="glyphicon glyphicon-chevron-right"></span>Qualificação dos profissionais</p>
                        <p><span class="glyphicon glyphicon-chevron-right"></span>Agilidade em todos os serviços prestados</p>
                        <p><span class="glyphicon glyphicon-chevron-right"></span>Grande experiência no mercado</p>
                    </div>
                    <div class="mvv">
                        <h3 class="mvv-title">MISSÃO</h3>
                        <p class="mission">Prestar serviços adequados às necessidades dos nossos clientes, com qualidade e eficiência, contribuindo para a segurança no trânsito do Distrito Federal.</p>
                    </div>
                    <div class="mvv">
                        <h3 class="mvv-title">VALORES</h3>
                        <p><span class="glyphicon glyphicon-chevron-right"></span>Ética nas relações</p>
                        <p><span class="glyphicon glyphicon-chevron-right"></span>Responsabilidade com o trabalho</p>
                        <p><span class="glyphicon glyphicon-chevron-right"></span>Rapidez na resposta ao cliente</p>
                    </div>
            </div>
            
        </div>
    </section>