<section class="bg-primary" id="about">
        <div class="container">
            <div class="row first-row">
                <div>
                    <h2 class="section-heading">QUEM SOMOS</h2>
                    <hr class="light">
                    <p class="text-faded">Credenciada ao Detran-DF desde 1991, a Clínica Aptidão desenvolve com qualidade e eficiência serviços como: obtenção e renovação da Carteira Nacional de Habilitação (CNH) e avaliações psicológicas para Instrutores, Diretores de Auto-Escola e Examinadores de banca.</p>
                    <p class="text-faded">Preservamos sempre a segurança do condutor e a do trânsito em geral. </p>
                    <p class="text-faded">Possuímos uma equipe de psicólogos e médicos peritos para realizar e orientar candidatos que se submetem aos exames exigidos pelo Código de Trânsito Brasileiro, colaborando assim para o cumprimento da legislação de trânsito e a diminuição do índice de acidentes no Brasil.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">NOSSOS DIFERENCIAIS</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Seriedade e transparência com os clientes</li>
                    <li class="list-group-item">Excelência no atendimento</li>
                    <li class="list-group-item">Qualificação dos profissionais</li>
                    <li class="list-group-item">Agilidade em todos os serviços prestados</li>
                    <li class="list-group-item">Grande experiência no mercado</li>
                </ul>
            </div>
            <div class="mvv">
                <h3 class="mvv-title">MISSÃO</h3>
                <p class="mission">Prestar serviços adequados às necessidades dos nossos clientes, com qualidade e eficiência, contribuindo para a segurança no trânsito do Distrito Federal.</p>
            </div>
            <div class="mvv">
                <h3 class="mvv-title">VALORES</h3>
                <p>Ética nas relações;</p>
                <p>Responsabilidade com o trabalho;</p>
                <p>Rapidez na resposta ao cliente.</p>
            </div>
        </div>
    </section>