<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">FALE CONOSCO</h2>
                <hr class="primary">
            </div>

            <div class="col-lg-4 col-md-12 text-center contact-section">
                <i class="fa fa-phone fa-4x wow bounceIn"></i>
                <p><a class="mobilephones" href="tel:6132263468">61 3226-3468</a> <br> <a class="mobilephones" href="tel:6132263468">61 3225-3321</a></p> 
            </div>

            <div class="col-lg-4 col-md-12 text-center contact-section">
                <i class="fa fa-envelope-o fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:aptidaorh@terra.com.br">clinicaptidao@gmail.com</a></p>
            </div>
            <div class="col-lg-4 col-md-12 text-center contact-section">
                <i class="fa fa-map-marker fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://goo.gl/maps/dSPn88zrpQ32"> SCS Qd. 02 - Bl. "B" - Ed. Palácio do Comércio, Sobreloja 26 <br> Asa Sul - Brasília-DF <br> CEP: 70.318-900 </a></p>
            </div>
            <iframe class="map"
                width="600"
                height="400"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBwcXzVdZZ5fobV2vzeR7YrnxXn1NWuU4U&q=Setor+Comercial+Sul+2-Brasília,DF,70318-900" allowfullscreen>
            </iframe>
        </div>

    </div>
</section>
