<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fale conosco!</h2>
                <hr class="primary">
                <p>Alguma dúvida ou sugestão? Entre em contato!</p>
            </div>

            <div class="col-lg-4 col-md-12 text-center contact-section">
                <i class="fa fa-phone fa-4x wow bounceIn"></i>
                <p>(61) 3225-3321</p>
            </div>
            
            <div class="col-lg-4 col-md-12 text-center contact-section">
                <i class="fa fa-envelope-o fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:aptidaorh@terra.com.br">aptidaorh@terra.com.br</a></p>
            </div>
            <div class="col-lg-4 col-md-12 text-center contact-section">
                <i class="fa fa-map-marker fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="https://goo.gl/maps/dSPn88zrpQ32"> SQS Quadra 2 - Ed. Palácio do Comércio, sobreloja 2 e 26</a></p>
            </div>
            <iframe class="map"
                width="600"
                height="514"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBwcXzVdZZ5fobV2vzeR7YrnxXn1NWuU4U&q=Setor+Comercial+Sul+2-Brasília,DF,70318-900" allowfullscreen>
            </iframe>        
        </div>
        
    </div>
</section>
