<div class="footer-page">
	<div class="container">
		<span class="white">Clínica Aptidão - </span>
		<span class="gray">Obtenção, Renovação e Mudança de Categoria para a Carteira Nacional de Habilitação - Brasília-DF</span>
	</div>
</div>