<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Trânsito Seguro: Reponsabilidade de todos!</h1>
            <hr>
            <p>Credenciada desde 1991, a Clínica Aptidão trabalha junto ao DETRAN-DF para a obtenção ou renovação da sua Carteira Nacional de Habilitação (CNH).</p>
            <h4 class=" mobilephones phones col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"> <a href="tel:6132263468">(61) 3226-3468</a></h4>
            <h4 class=" mobilephones phones col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"> <a href="tel:6132263468">(61) 3225-3321</a></h4>
        </div>
    </div>
</header>
