<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>sobre o nosso dia a dia no trânsito</h1>
            <hr>
            <p>Credenciada desde 1991, a Clínica Aptidão trabalha junto ao DETRAN-DF para a obtenção ou renovação da sua Carteira Nascional de Habilitação (CNH).</p>
            <span class="badge badge-pill badge-secondary">(61) 3225-3321</span>
        </div>
    </div>
</header>
