<p id="notice"><%= notice %></p>

<h1>Preços</h1>

<table class="table">
    <tr>
      <th width="180">Primeira Habilitação</th>
      <th width="180">Renovação da CNH</th>
      <th width="180">Mudança de Categoria</th>
      <th width="180">Adição de Categoria</th>
      <th width="180">Instrutor /Diretor /Examinador</th>
    </tr>

    <tr>
      <% @prices.each do |price| %>
        <td><%= price.price %></td>
      <% end %>
    </tr>
</table>

<br>

<%= link_to 'Editar Preços', edit_all_path, class: "btn btn-success" %>
