@import 'base/reusables';
$aptidao-azul: #002554;
$aptidao-azul-light: #b7b4e0;
$aptidao-azul-translucid: rgba(0, 36, 84, 0.7);

body {
    font-family: 'Lato', Merriweather,'Helvetica Neue',Arial,sans-serif;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: inherit;
}
//******************* NAVBAR *************************************************//
.navbar-default {
    background-color: $aptidao-azul;
}

.logo-aptidao {
    height: 50px;
    @include v-align;
}

.navbar-default.affix .navbar-header .navbar-brand {
    font-size: 23px;
}

.container-fluid {
    height: 100%;
}

.navbar-header {
    height: 100%;
}


.navbar-default .navbar-header .navbar-brand {
    font-size: 30px;
}

.navbar-default.affix {
    background-color: $aptidao-azul;
}

.navbar-default.affix .navbar-header .navbar-brand {
    color: #fff;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff;

}

.navbar-default.affix .nav > li.active>a,
.navbar-default.affix .nav>li.active>a:focus {
    color: rgba(255, 255, 255, 0.5);

}

.navbar-default.affix .nav > li>a {
  color: #fff;
}

.navbar-default.affix .nav>li>a:focus {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-default.affix .nav > li>a:hover,
.navbar-default.affix .nav>li>a:focus:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.5);
}

.collapse.navbar-collapse.in {
    //background-color: rgba(129, 139, 168, 0.8);
}

//******************* HEADER *************************************************//
header {
    background-image: asset-data-url("header2.png");
    color: $aptidao-azul;
    position: relative;

    .container {
        padding: 0px;
    }
}


header .header-content .header-content-inner h1 {
    font-size: 65px;
    font-family: 'Lato';
}

header .header-content .header-content-inner p {
     font-size: 23px;
     font-weight: 500;
     color: $aptidao-azul;
}

h4.phones {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0.3em;
    background-color: #ffffff69;
    color: $aptidao-azul;
    padding: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-color: $aptidao-azul;
    border-width: 3px;

    a:link, a:visited, a:active {
        text-decoration: none;
        color: $aptidao-azul;
    }

    a:hover {
        color: $aptidao-azul-translucid;
    }
}

//******************* SOBRE *************************************************//

.fa.fa-sm {
  font-size: 0.3em;
  vertical-align: middle;
}

.bg-primary {
    background-color: $aptidao-azul;
}

.section-heading {
    font-weight: 800;
}

hr {
    margin-bottom: 3.5em;
}

.text-faded {
    font-size: 20px;
}

.container {
    // width: 90%;
}


.first-row {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-row {
    margin-top: 5em;
}

.mvv {
    width: 33.3%;
    text-align: center;
    float: left;
    padding: 10px;

    >.mvv-title {
        font-size: xx-large;
        font-weight: 700;
        color: rgb(167, 167, 167);
        margin-bottom: 0.5em;
    }
    >p{
        font-size: 20px;
        margin-bottom: 0.5em;;
    }

}

//******************* SERVIÇOS *************************************************//
.modal-body {
    h4 {
        text-align: center;
    }
}


//******************* CONTATO ***********************************************//

.contact-section>p {
    font-size: 17px;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//******************* RESPONSIVIDADE ****************************************//


.service-box {
    margin-top: 2em;
    margin-bottom: 4em;

    >h3 {
      color: $aptidao-azul;
      font-weight: 600;
      font-size: 22px;
    }

    >p {
        font-size: 16px;
    }
}

.service-modal-button {
    background-color: #fff;
    border: none;
}


.service-image {
    height: 110px;
}

@media (max-width: 800px) {
  .little-container {
    display: none!important;
  }
}

.service-image-sm {
  height: 5.5em;
  margin: 5px;
}


.little-container {
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);

    text-align: center;

}


.service-button {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.modal .modal-dialog {

    border-radius: 0px;
    h3 {
        color: $aptidao-azul;
        font-weight: 600;
    }
}

.modal-content {
    border-radius: 0px;
}

.modal-header {
    background-color: #d8d8d8;

    >h3 {
        font-weight: bolder !important;
    }
}


.modal-body {
    background-color: #ececec; // #9eacc1
    color: $aptidao-azul;

    >p {
        font-size: 20px;
        text-align: center;
    }

    li {
        text-align: left;
    }

    td {
        text-align: left;
    }

    table {
        font-size: 18px;
    }

    h3.emphasis {
        border-bottom: solid;
        border-color: $aptidao-azul;
        padding-bottom: 5px;
    }

    h4 {
        font-weight: bold;
    }

    .internal {
        margin-left: auto;
        margin-right: auto;

        th {
            text-align: center;
        }
    }



    .panel {
        border-radius: 0px;
    }

    .panel-body {
        font-size: 17px;
    }
}

.modal-footer {
    background-color:$aptidao-azul;
}



@media(min-width:993px){

    .mobilephones{
        pointer-events: none;
        cursor: default;
        text-decoration:none;
        color:#1a128f;
    }

    .container-fluid {
        width: 90%;
    }

    .container {
        width: 90%;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 27px;
    }

    .navbar-default .navbar-header .navbar-brand {
       // color: $aptidao-azul;
       @include v-align;
    }

    .collapse.navbar-collapse {
        height: 100% !important;
    }

    .collapse.navbar-collapse.in {
        height: 100% !important;
        background-color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        font-size: 16px;
    }

    .fa.fa-facebook-square {
        font-size: 30px;
    }

    ul.nav.navbar-nav.navbar-right {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .modal .modal-dialog {

        width: 70%;
    }

    .modal-content {
        width: 100%;
    }

    .internal {
        width: 60%;
    }



}

@media(min-width:600px)and(max-width:992px) {

    .navbar-default .navbar-header .navbar-brand {
        // color: $aptidao-azul;
        color: #fff;
        font-size: 25px;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 25px;
    }

    .collapse.navbar-collapse {
        height: 100%;
    }
    .little-container {
        display: none;
    }


    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        font-size: 15px;
        color: #fff;
    }

    .fa.fa-facebook-square {
        font-size: 23px;
    }

    .fa.fa-instagram {
        font-size: 23px;
    }

    header .header-content .header-content-inner h1 {
        font-size: 38px;
    }

    header .header-content .header-content-inner p {
        font-size: 21px;
    }

    .container {
        width: 90%;
    }

    .mvv {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .inner-container {
        width: 100%;
    }

}
@media(min-width:370px)and(max-width:599px) {
    .navbar-default {
        //height: 4em;
        border-color: rgb(182, 182, 182);
        //background-color: rgba(129, 139, 168, 0.5);
    }

    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .navbar-header .navbar-brand {
        font-size: 22px;
        color: #fff;
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        font-size: 15px;
        color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 22px;
    }

    .navbar-default.affix .nav > li>a {
        color: #fff;
    }

    header .header-content .header-content-inner h1 {
        font-size: 33px !important;
    }

    header .header-content .header-content-inner p {
        font-size: 24px;
    }

    .little-container {
        display: none;
    }

    h4.phones {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0.3em;
        padding: 10px;
    }

    .container {
        width: 90%;
    }



    .mvv {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .inner-container {
        width: 100%;
    }

}


@media(max-width:369px) {
    .navbar-default {
        //height: 4em;
        border-color: rgb(182, 182, 182);
        //background-color: rgba(129, 139, 168, 0.5);
    }

    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .navbar-header .navbar-brand {
        font-size: 22px;
        color: #fff;
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        font-size: 15px;
        color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 22px;
    }

    .navbar-default.affix .nav > li>a {
        color: #fff;
    }

    header .header-content .header-content-inner h1 {
        font-size: 28px !important;
    }

    header .header-content .header-content-inner p {
        font-size: 17px;
    }

    h4.phones {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 0.3em;
        padding: 10px;
    }

    .container {
        width: 90%;
    }


    .mvv {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .inner-container {
        width: 100%;
    }

}

@media (max-width: 675px) {
  .map {
    display: none;
  }
}





.btn-primary {
    border-color: #fff;
    color: #fff;
    background-color: $aptidao-azul;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #fff;
    border-width: 15px;
    background-color:$aptidao-azul-light ;
}


.footer-page {
    background-color: #2a2a2a;
    text-align: center;
    padding: 2em 0;

    .white {
        color: #fff;
    }

    .gray {
        color: #8f8f8f;
    }
}


@media(min-height:1100px) {
    .little-container {
        display:none!important;
    }
}



@media(min-height:650px)and(max-height:700px) {

    .service-image-sm {
        height: 3.5em;
      }

    
  h1 {
      font-size: 54px!important;
  }

  h5 {
      font-size: 12px;
  }

  header .header-content .header-content-inner p {
    font-size: 19px;
    margin-bottom: 20px;
  }

  h4.phones {
      font-size: 30px;
      padding: auto;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  section {
    padding: 50px 0px;
  }

  .service-image {
    height: 90px;
  }

  p.text-muted {
    font-size: 12px;
  }

  .bg-primary {
    p {
      font-size: 16px;
    }
  }

  .contact-section > p {
    font-size: 15px;
  }

  iframe {
    width: 516px;
    height: 344px;
  }

}
