<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Conheça nossos serviços e informações úteis sobre o nosso dia a dia no trânsito</h1>
            <hr>
            <p>Credenciada desde 1991, a Clínica Aptidão trabalha junto ao DETRAN-DF para a obtenção ou renovação da sua Carteira Nascional de Habilitação (CNH).</p>
            <p>A segurança no trânsito é nossa prioridade.</p>
            <a href="#sobre" class="btn btn-primary btn-xl page-scroll">Sobre nós</a>
        </div>
    </div>
</header>